
body{
  font-family: "Arial";
  color: black;
  margin: 0px;
}

div{
  min-height:25vh;
  width:100vw;
}

h1{
  text-align: center;
  font-size: 5em;
}

h2{
  text-align: center;
  font-size: 2.5em;
}

table{
   border-collapse: collapse;
   text-align: left;
    padding: 12px;
	FONT-FAMILY: verdana, helvetica,  sans-serif;
	COLOR:black;
	background-color:white

}

p{
  width:40%;
  margin:10vh 30vw;
  font-size: 1.5em;
  text-align: center;
}

a{
  color:rgb(0, 200, 200);
}

image{
  width: 40%;
}

ol{
  list-style: none;
  padding:0;
  margin-bottom:10%;
  font-size: 2.5em;
  display: flex;
  justify-content: space-evenly;
}

iframe{

  display: flex;
}

div.box {
  background-color:black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul{
  list-style: none;
  display: flex;
}

li{
  margin: 10px;
  transition:1s ease;
}

li:hover {
  font size: 10em;
  transition:1s ease;
}
.w-carousel-main {
  width: 80%!important;
  margin: auto;
}

.w-carousel-side {
  width: 10%!important;
}

.carousel-image{
  margin: auto;
  height: 100%;
}

.custom-carousel-indicators {
    position: relative;
    right: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
